.movies-card {
  box-sizing: border-box;
  width: 100%;

  padding: 18px 0;

  background-color: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.movies-card:nth-child(n+13) {
  display: none;
}

.movies-card__text-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 18px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.movies-card__title {
  box-sizing: border-box;
  margin: 0;

  text-align: start;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.movies-card__duration {
  box-sizing: border-box;
  margin: 0;

  text-align: end;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #A0A0A0;
}

.movies-card__image {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.movies-card__button {
  width: 100px;
  height: 29px;

  background-position: center center;
  background-repeat: no-repeat;

  border-radius: 30px;

  transition: opacity 0.2s ease-in-out;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.movies-card__button_type_check {
  background-color: #FF4062;
}

.movies-card__text {
  box-sizing: border-box;
  margin: 0;
  padding: 9px 15px;

  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 30px;

  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;

  transition: all 0.2s ease-in-out;
}

.movies-card__text:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .movies-card:nth-child(n+9) {
    display: none;
  }

  .movies-card__image {
    min-height: 190px;
  }
}

@media screen and (max-width: 520px) {
  .movies-card:nth-child(n+6) {
    display: none;
  }

  .movies-card {
    padding: 14px 0;
    gap: 14px;
  }

  .movies-card__text-container {
    padding: 0 14px;
  }

  .movies-card__title {
    font-size: 12px;
  }

  .movies-card__duration {
    font-size: 10px;
  }

  .movies-card__image {
    min-height: 168px;
  }
}
