.attention-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;

  background-color: rgba(1,1,1,0.3);
  transition: visibility 0.5s linear, opacity 0.5s linear;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.attention-popup_opened {
  opacity: 1;
  visibility: visible;
}

.attention-popup__container {
  box-sizing: border-box;
  padding: 100px 30px;
  margin: 200px auto;
  max-width: 360px;

  position: relative;

  background-color: white;
  border-radius: 10px;
}

.attention-popup__close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;

  background-image: url('../../images/close-icon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0,0);
  border: none;

  transition: opacity 0.2s ease-in-out;
}

.attention-popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.attention-popup__title {
  box-sizing: border-box;
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .attention-popup__container {
    padding: 15px;
    max-width: 250px;
  }

  .attention-popup__close-button {
    width: 16px;
    height: 16px;
    top: -20px;
    right: -20px;
  }

  .attention-popup__title {
    font-size: 16px;
  }
}
