.page-not-found {
  box-sizing: border-box;
  padding: 246px 0 60px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-not-found__title {
  box-sizing: border-box;
  margin: 0 auto 5px;

  text-align: center;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.page-not-found__subtitle {
  box-sizing: border-box;
  margin: 0 auto 184px;

  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.page-not-found__link {
  box-sizing: border-box;
  margin: 0 auto;

  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  background: none;
  border: none;
  outline: none;

  transition: opacity 0.2s ease-in-out;
}

.page-not-found__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 850px) {
  .page-not-found {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 520px) {
  .page-not-found {
    padding: 329px 0 30px;
  }

  .page-not-found__title {
    margin-bottom: 10px;

    font-size: 80px;
    line-height: 97px;
  }

  .page-not-found__subtitle {
    margin-bottom: 284px;
    font-size: 12px;
    line-height: 15px;
  }

  .page-not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}
