.auth__form {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 396px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.auth__form__fields {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth__form-field {
  display: flex;
  flex-direction: column;

  text-align: start;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.auth__input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 0;
  padding: 15px;

  background-color: #F9F9F9;
  border-radius: 8px;
  border: none;

  text-align: start;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.auth__input:focus {
  outline: none;
}

.auth__submit {
  box-sizing: border-box;
  margin: 0 auto 16px;
  padding: 13px 0 15px;
  width: 100%;

  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  transition: opacity 0.2s ease-in-out;
}

.auth__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .auth__form {
    height: 481px;
  }

  .auth__submit {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 14px;
  }
}
