.about-project {
  box-sizing: border-box;
  padding: 112px 70px 101px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-project__title {
  margin-bottom: 71px;
}

.about-project__content {
  width: 100%;
  margin-bottom: 110px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 39px;
}

.about-project__content-item {
  max-width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 26px;
}

.about-project__content-title {
  box-sizing: border-box;
  margin: 0;

  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__content-description {
  box-sizing: border-box;
  margin: 0;

  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__progress {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 4px;
}

.about-project__progress-item {
  box-sizing: border-box;
  padding: 9px 0;
  margin: 0;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__progress-item_color_black {
  background-color: black;
  color: white;
}

.about-project__progress-item_color_gray {
  background-color: #F2F2F2;
  color: black;
}

.about-project__progress-item_label {
  font-weight: 500;
  color: #A0A0A0;
}

@media screen and (max-width: 850px) {
  .about-project {
    padding: 90px 50px 83px;
  }

  .about-project__content {
    margin-bottom: 93px;
    column-gap: 30px;
  }

  .about-project__content-item {
    gap: 22px;
  }

  .about-project__content-description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 700px) {
  .about-project__content {
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    row-gap: 56px;
  }
}

@media screen and (max-width: 520px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__title {
    margin-bottom: 60px;
  }

  .about-project__content {
    margin-bottom: 60px;
  }

  .about-project__content-item {
    gap: 16px;
  }

  .about-project__content-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__content-description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__progress {
    grid-template-columns: 1fr 2fr;
    row-gap: 0;
  }

  .about-project__progress-item {
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
  }
}
