.about-me {
  box-sizing: border-box;
  padding: 110px 70px 103px;
}

.about-me__title {
  margin: 0 0 66px;
}

.about-me__grid {
  width: 100%;

  display: grid;
  grid-template-columns: minmax(min-content, 600px) 270px;
  column-gap: 49px;
  row-gap: 10px;
  align-content: space-between;
  grid-template-areas:
  "content  photo"
  "link     photo";
  justify-content: space-between;
}

.about-me__content {
  grid-area: content;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me__content-title {
  box-sizing: border-box;
  margin: 0 0 18px;

  text-align: start;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__content-subtitle {
  box-sizing: border-box;
  margin: 0 0 26px;

  text-align: start;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__content-description {
  box-sizing: border-box;
  margin: 0;

  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__content-link {
  box-sizing: border-box;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  align-self: end;

  grid-area: link;
  align-self: flex-end;

  text-decoration: none;
}

.about-me__link-text {
  margin: 0;

  text-align: start;

  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__link-icon {
  width: 15px;
  height: 25px;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-me__content-photo {
  grid-area: photo;
  width: 100%;

  border-radius: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .about-me {
    box-sizing: border-box;
    padding: 92px 50px 91px;
  }

  .about-me__content-title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__content-subtitle {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__content-description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__grid {
    grid-template-columns: minmax(min-content, 600px) 255px;
  }
}

@media screen and (max-width: 670px) {
  .about-me__grid {
    grid-template-columns: 1fr;
    row-gap: 40px;
    grid-template-areas:
    "photo"
    "content"
    "link";
  }
}

@media screen and (max-width: 520px) {
  .about-me {
    box-sizing: border-box;
    padding: 81px 14px 69px;
  }

  .about-me__title {
    margin: 0 0 60px;
  }

  .about-me__content-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__content-subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__content-description {
    font-size: 11px;
    line-height: 16px;
  }
}

