.nav-tab {
  box-sizing: border-box;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-tab__link {
  box-sizing: border-box;
  padding: 10px 0;
  width: 96px;

  background-color: #E8E8E8;
  border-radius: 10px;
  border: none;

  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  transition: all 0.2s ease-in-out;
}

.nav-tab__link:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .nav-tab {
    gap: 6px;
  }

  .nav-tab__link {
    width: 82px;
    padding: 5px 0;
    font-size: 10px;
  }
}
